/* Google fonts CDN link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #262626;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}

nav .navbar .nav-links .links{
    display: flex;
}

nav .navbar .nav-links .links li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

nav .navbar .nav-links .links li a{
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow{
    height: 100%;
    line-height: 70px;
    width: 22px;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .nav-links .links li:hover .html-arrow,
.navbar .nav-links .links li:hover .css-arrow{
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(38, 38, 38, 0.9);
    line-height: 40px;
    border-radius: 0 0 0px 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.navbar .nav-links .links .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.navbar .nav-links .links .sub-menu li a{
    font-size: 15px;
    font: 500;
}

.navbar .nav-links .links .sub-menu li .ele-arrow{
    line-height: 40px;
}

.navbar .nav-links .links li:hover .html-sub-menu,
.navbar .nav-links .links li:hover .css-sub-menu{
    display: block;
}

.navbar .nav-links .links .elements .ele-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 10px 10px 10px;
    display: none;
}

.navbar .nav-links .links .elements:hover .ele-sub-menu{
    display: block;
}

.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i{
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.navbar .search-box .input-box{
    height: 60px;
    width: 300px;
    background: #262626;
    position: absolute;
    top: 80px;
    right: calc(100% - 40px);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
}

.navbar .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #262626;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.navbar .search-box .input-box input{
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}

.navbar .bx-menu,
.nav-links .sidebar-logo .logo_name,
.nav-links .sidebar-logo .bx-x{
    display: none;
}

@media (max-width: 954px){
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .logo a{
        font-size: 26px;
    }
    nav .navbar .nav-links .links li{
        padding: 0 20px;
    }
    nav .navbar .nav-links .links li a{
        font-size: 15px;
    }
}

@media (max-width: 800px){
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        background: #262626;
        top: 0;
        left: 0;
        max-width: 270px;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
    }
    nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x{
        color: #fff;
        font-size: 25px;
        font-weight: 500;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x{
        display: block;
    }
    nav .navbar .nav-links .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .nav-links .links li{
        display: block;
    }
    .navbar .nav-links .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    /* .navbar .nav-links .links .sub-menu li{
        border-bottom: none;
    } */
    /* .navbar .nav-links .links li:hover .html-sub-menu,
    .navbar .nav-links .links li:hover .css-sub-menu{
        display: none;
    }
    .navbar .nav-links .links .elements:hover .elements-sub-menu{
        display: none;
    }
    nav .navbar .nav-links .links li .arrow{
        line-height: 40px;
    }
    .navbar .nav-links .links li:hover .html-arrow,
    .navbar .nav-links .links li:hover .css-arrow{
        transform: rotate(0deg);
    }
    .navbar .nav-links.show1 .links .sub-menu.ele-sub-menu{
        display: block;
    } */
}